* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .urls{
  position: absolute;
  left: 8%;
  display: flex;
 }  

.postadas{
  text-align: center;
  font-size: 20px;
  padding: 25px;
  margin: 10px;
  border-style: solid;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  border-color: blue;
}

.aprovadas{
  margin: 10px;
  text-align: center;
  font-size: 20px;
  padding: 25px;
  border-style: solid;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  border-color: green;
}

.negadas{
  margin: 10px;
  text-align: center;
  font-size: 20px;
  padding: 25px;
  border-style: solid;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  border-color: red;
}

aside{
  width: 40%;
  float: right;
  margin: 20px;
}
