{% extends 'base/base.html' %}
{% block content %}
  

    <main>
      <div class="urls">
        <div class="postadas">
          <p>1</p>
          <p>URL <br> postada</p>
        </div>
        <div class="aprovadas">
          <p>1</p>
          <p>Url <br>Aprovada</p>
        </div>
        <div class="negadas">
          <p>1</p>
          <p>Url <br>Negadas</p>
        </div>
      </div>

    </main>
    <aside>
      <h2>Suas ultimas URLs enviadas:</h2>
      <p><br>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet facilisis lacus sit amet elementum. Donec et rhoncus lorem. Aliquam dapibus turpis quis ipsum consectetur rhoncus. Morbi vestibulum at neque efficitur sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis tempus, nulla nec rhoncus auctor, mi mauris accumsan massa, placerat auctor urna ex nec nibh. Quisque dapibus euismod vehicula. Morbi pharetra eros non erat aliquam, ut aliquam urna tincidunt. Fusce venenatis ipsum vel turpis lacinia, vel tristique augue rhoncus. Aliquam purus dolor, viverra a ultrices a, lobortis sed ligula. Morbi est enim, ultricies non aliquam ac, volutpat vitae quam. Nulla vulputate leo at metus imperdiet posuere. In eget elementum mauris, nec viverra magna.

        Sed suscipit leo nec arcu semper, sed volutpat dui convallis. Vestibulum ut risus placerat, iaculis est id, dignissim urna. Duis porta blandit massa, ac congue nisl pharetra auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vestibulum lobortis magna, nec condimentum dolor congue elementum. Nunc eget velit lorem. Ut pulvinar turpis eget molestie consequat. Ut quam nisl, faucibus sit amet quam at, laoreet molestie purus. Phasellus iaculis mauris a elementum rhoncus. </p>
        
    </aside>
  {% endblock content %}