{% extends 'base/base.html' %} {% block content %}
  <div id="gridContainer" class="grid-container">
    <div class="grid-item grid-item-" id="grid-item-"style="border-color:blue;border-style:solid;border-width:1px">
      <h5 class="card-title">URL's Recebidas</h5>
      <p class="align-middle">Numero de URLS recebidas</p>
    </div>
    <div class="grid-item grid-item-" id="grid-item-"style="border-color:green;border-style:solid;border-width:1px">
      <h5 class="card-title">URL's Aprovadas</h5>
      <p class="align-middle">Numero de URLS Aprovadas</p>
    </div>
    <div class="grid-item grid-item-" id="grid-item-" style="border-color:red;border-style:solid;border-width:1px">
      <h5 class="card-title">URL's Reprovadas</h5>
      <p class="align-middle">Numero de URLS Reprovadas</p>    
    </div> 
{% endblock content %}
