<!DOCTYPE html>
<html lang="t-br">
<head>
    <meta charset="UTF-8">
    <title>phishpool</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/Alterações.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/signin.css')}}">
</head>
<body>
  <header>
    <a class="logo" href="/dashboard"
      ><img
        src="{{url_for('static', filename='images/phishing.png')}}"
        width="90%"
        style="filter: invert(100%)"
    /></a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Enviar uma URL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lista de URLs aprovadas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Documentação da API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="logout">Sair</a>
      </li>
    </ul>
  </header>
    {% block content %}
      
    {% endblock content %}
  </body>
</html>